<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="footer">
      <div class="row">
        <!-- <div class="inner-footer"> -->
          <div class="col-md-4">
            <div class="about">
              <h4>About SSHOP</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
          </div>
          <div class="col-md-2">
            <div class="services">
              <h4>Our Services</h4>
              <ul>
                <li><a href="">Shipping & Returns</a> </li>
                <li><a href="">Secure Shopping</a> </li>
                <li><a href="">International Shipping</a> </li>
                <li><a href="">Affiliates</a> </li>
                <li><a href="">Services</a> </li>
                <li><a href="">Order History</a> </li>
              </ul>

            </div>
          </div>
          <div class="col-md-2">
            <div class="company">
              <h4>Company</h4>
              <ul>
                <li><a href="">Our Blog</a> </li>
                <li><a href="">About Our Shop</a> </li>
                <li><a href="">Delivery infomation</a> </li>
                <li><a href="">Contact</a> </li>
                <li><a href="">About Us</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="join">
              <h4>Join Us</h4>
              <p>Join our newsletter and enjoy 20% OFF your first order.</p>
              <form class="" action="index.html" method="post">
                <input id="email" type="text" placeholder="Type your email" name="" value="">
                <input id="submit" type="submit" name="" value="submit">
              </form>
            </div>
          </div>
        <!-- </div> -->

      </div>
    </div>
    <div class="c-right">
      <p> Copyright © 2018 SShop. All Rights Reserved. WordPress SShop Theme by SShopWP </p>
    </div>
  </body>
</html>
